 
a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.message-field {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  height: 100%;
  
  padding: 20px;
  overflow-y: scroll;
}

.layout {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px;
}

.message-sender {
  color: gray;
  font-size: 14px;
}

.header {
  width: 100%;
  height: 150px;
  background-color:  lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  width: 100%;

  display: flex;
  height: calc(100% - 150px);
}

.chat-list {
  width: 30%;
  background-color: slategray;
}

.messages {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
 
  width: 70%;
  padding: 20px;
  /* overflow-y: scroll; */
}

.makeStyles-root-1 {
  background-color: slategray;
}

@media screen and (max-width: 650px) {
  .layout {
    width: 50%;
}
.center {
  height: 50%;
  width: 100%;
  display: flex;
}
.chat-list {
  width: 0%;
  
}

.messages {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
 
  width: 100%;
  padding: 20px;
  /* overflow-y: scroll; */
}

}